Repository juliolmuller/feedget: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config web/eslint.config.js --fix, eslint --config server/eslint.config.mjs --fix, prettier --write

.lintstagedrc:

{
  "web/**/*.{js,cjs,mjs,jsx,mjsx,ts,mts,tsx,mtsx}": [
    "eslint --config web/eslint.config.js --fix"
  ],
  "server/**/*.{js,cjs,mjs,ts,mts}": [
    "eslint --config server/eslint.config.mjs --fix"
  ],
  "*.json": [
    "eslint --config server/eslint.config.mjs --fix"
  ],
  "*.{css,sass,scss}": [
    "prettier --write"
  ]
}

style(server): resolve linting issues
  server/src/providers/nodemailer/NodeMailerMailProvider.ts
  server/src/repositories/prisma/PrismaFeedbackRepository.ts
  server/src/services/SubmitFeedbackService.ts
Due: eslint --config server/eslint.config.mjs --fix

ci: add workflow to self-assign PR's
  .github/workflows/pr-author-assign.yml
Due: none

Notes added by 'git notes add'
  3a703491112e6c21dd26b7dd4894b28079a4768a
Due: none

chore(server): upgrade `prisma` to latest version
  bun.lock
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore(server): update TS config
  server/tsconfig.json
Due: eslint --config server/eslint.config.mjs --fix

chore(server): upgrade Prisma ORM to latest version
  bun.lock
  server/.env.example
  server/package.json
  server/prisma.config.ts
  server/prisma/schema.prisma
  server/src/database/index.ts
  server/src/database/prisma/.gitignore
  server/src/database/prisma/client.ts
  server/src/database/prisma/index.ts
  server/src/database/prisma/migrations/20250427025200_create_feedbacks_table/migration.sql
  server/src/database/prisma/migrations/migration_lock.toml
  server/src/database/prisma/schema.prisma
  server/src/database/sqlite/db.sqlite
  server/src/database/sqlite/db.sqlite-journal
  server/src/prisma.ts
  server/src/repositories/prisma/PrismaFeedbackRepository.ts
Due: eslint --config server/eslint.config.mjs --fix

chore(server): adjust module resolution type
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore(server): upgrade Prisma ORM to latest version (#9)
  bun.lock
  server/.env.example
  server/package.json
  server/prisma.config.ts
  server/prisma/schema.prisma
  server/src/database/index.ts
  server/src/database/prisma/.gitignore
  server/src/database/prisma/client.ts
  server/src/database/prisma/index.ts
  server/src/database/prisma/migrations/20250427025200_create_feedbacks_table/migration.sql
  server/src/database/prisma/migrations/migration_lock.toml
  server/src/database/prisma/schema.prisma
  server/src/database/sqlite/db.sqlite
  server/src/database/sqlite/db.sqlite-journal
  server/src/prisma.ts
  server/src/repositories/prisma/PrismaFeedbackRepository.ts
  server/tsconfig.json
Due: eslint --config server/eslint.config.mjs --fix

fix(server): set default database URL
  server/prisma.config.ts
  server/src/database/prisma/client.ts
Due: eslint --config server/eslint.config.mjs --fix

fix(server): set default database URL outside `src/`
  server/src/database/prisma/client.ts
Due: eslint --config server/eslint.config.mjs --fix

fix(server): extract constants to separate file
  server/prisma.config.ts
  server/src/database/prisma/client.ts
  server/src/database/prisma/config.ts
Due: eslint --config server/eslint.config.mjs --fix

Notes added by 'git notes add'
  4488062152d34d119a589954ba9a1a39fd484090
Due: none

fix(server): fix Prisma generated-types usage
  server/src/database/index.ts
  server/src/database/prisma/client.ts
  server/src/database/prisma/index.ts
  server/src/repositories/prisma/PrismaFeedbackRepository.ts
Due: eslint --config server/eslint.config.mjs --fix

Notes added by 'git notes add'
  9d319d59385396fc3d1446ab30d19d476b35b09f
Due: none

chore: adjust project version to a neutral one, controlled by `semantic-release`
  package.json
Due: eslint --config server/eslint.config.mjs --fix

build(server): migrate from Node to Bun as project runtime
  README.md
  server/package.json
  server/tsconfig.json
Due: eslint --config server/eslint.config.mjs --fix

Notes added by 'git notes add'
  af7c11899db6feeea27dbc1f4abbce1b95c1132d
Due: none

chore: define generic project version
  package.json
Due: eslint --config server/eslint.config.mjs --fix

Notes added by 'git notes add'
  dd806fbdd14ca3471fc628b3d30a66dbb9c3e09b
Due: none

chore: update license coverage period
  LICENSE
Due: none

chore: update external packages to latest versions
  bun.lock
  package.json
Due: eslint --config server/eslint.config.mjs --fix

chore: update external packages to latest versions
  bun.lock
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

ci: update external packages to latest versions
  .github/workflows/pr-author-assign.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  cf17e432340bd3bc987a4ada1c556eba105bc79e
Due: none

fix(server): upgrade `nodemailer` to latest version to fix security issues
  bun.lock
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

Notes added by 'git notes add'
  4145909da9e6471be6806d6ddd9d510ce7620c68
Due: none

chore: update overall dependencies
  bun.lock
  package.json
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

style(web): resolve linting issues
  web/src/components/CaptureScreenButton.tsx
Due: eslint --config web/eslint.config.js --fix

style(server): resolve linting issues
  server/eslint.config.mjs
Due: eslint --config server/eslint.config.mjs --fix

Notes added by 'git notes add'
  21e91156a3d08d2b5189a8301aa3e8b5b4bcb665
Due: none

chore: create dependabot configuration for Bun package updates
  .github/dependabot.yml
Due: none

Notes added by 'git notes add'
  1cbb86e92f12a17991aa3a739ca0af5494bc2626
Due: none

chore: remove dependabot configuration file
  .github/dependabot.yml
Due: none

Notes added by 'git notes add'
  ecbdf9108e503a496136c961939c5498d22ca972
Due: none
