Repository juliolmuller/feedget: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config web/eslint.config.js --fix, eslint --config server/eslint.config.mjs --fix, prettier --write

.lintstagedrc:

{
  "web/**/*.{js,cjs,mjs,jsx,mjsx,ts,mts,tsx,mtsx}": [
    "eslint --config web/eslint.config.js --fix"
  ],
  "server/**/*.{js,cjs,mjs,ts,mts}": [
    "eslint --config server/eslint.config.mjs --fix"
  ],
  "*.json": [
    "eslint --config server/eslint.config.mjs --fix"
  ],
  "*.{css,sass,scss}": [
    "prettier --write"
  ]
}

ci: make `husky` command not break pipeline
  package.json
Due: eslint --config server/eslint.config.mjs --fix

chore(web): replace lib to convert HTML to Canvas
  bun.lock
  web/package.json
  web/src/components/CaptureScreenButton.tsx
Due: eslint --config web/eslint.config.js --fix, eslint --config server/eslint.config.mjs --fix

docs: update docs with new lib
  README.md
Due: none

chore: increment version
  package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore(deps): update overall dependencies
  bun.lock
  package.json
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore: fix `lint` script
  bun.lock
  package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore: add \.gitattributes file to ensure EOF
  .gitattributes
Due: none

chore: set codebase owners
  .github/CODEOWNERS
Due: none

chore: replace `commitizen` by `@commitlint/prompt-cli`
  .commitlintrc
  .czrc
  bun.lock
  package.json
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

ci: configure Semantic Release workflow
  .github/workflows/release.yml
  .releaserc
  bun.lock
  package.json
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

ci: update target branch
  .github/workflows/release.yml
  .releaserc
Due: none

fix(server): some fix in the API
  server/dummy.txt
Due: none

feat(web): some improvement in the UI
  web/dummy.txt
Due: none

chore(server): change module name
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore(web): change module name
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore: fix lock file
  bun.lock
Due: none

feat(server): migrate database from Postgres to SQLite
  server/.env.example
  server/docker-compose.yml
  server/package.json
  server/prisma/.gitignore
  server/prisma/database/db.sqlite
  server/prisma/database/db.sqlite-journal
  server/prisma/migrations/20250427025200_create_feedbacks_table/migration.sql
  server/prisma/migrations/migration_lock.toml
  server/prisma/schema.prisma
Due: eslint --config server/eslint.config.mjs --fix

chore: increase projects version
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

docs: update documentation
  README.md
Due: none

fix: fix typo as per https://github.com/juliolmuller/feedget/pull/5#discussion_r2061981014
  server/.env.example
Due: none

fix: mark binary formats in `.gitattributes`
  .gitattributes
  server/prisma/database/db.sqlite
  server/prisma/database/db.sqlite-journal
Due: none

chore: update overall dependencies
  bun.lock
  package.json
Due: eslint --config server/eslint.config.mjs --fix

chore(server): update overall dependencies
  bun.lock
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore(web): update overall dependencies
  bun.lock
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

build(web): fix import path alias
  bun.lock
  web/package.json
  web/vite.config.ts
Due: eslint --config web/eslint.config.js --fix, eslint --config server/eslint.config.mjs --fix

chore(deps): update overall dependencies (#6)
  bun.lock
  package.json
  server/package.json
  web/package.json
  web/vite.config.ts
Due: eslint --config web/eslint.config.js --fix, eslint --config server/eslint.config.mjs --fix

ci: update semantic release workflow
  .github/workflows/release.yml
Due: none

ci: fix Node version used by workflow
  .github/workflows/release.yml
Due: none

ci: attempt to fix Semantic Release analysis
  .github/workflows/release.yml
Due: none

ci: adjust workflow to run with Bun
  .github/workflows/release.yml
Due: none

chore: remove `semantic-release` from sub-projects dependencies lists
  bun.lock
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore: remove "private" option from `package.json`
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore: drop use of `semantic-release-monorepo`
  .releaserc
  bun.lock
  package.json
Due: eslint --config server/eslint.config.mjs --fix

chore: define root for project versioning
  package.json
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore: drop use of `@semantic-release/npm`
  .releaserc
  bun.lock
  package.json
Due: eslint --config server/eslint.config.mjs --fix

Notes added by 'git notes add'
  f3aeb3ef9deac2e6d8112b5025a8361b64498396
Due: none

chore(server): upgrade `nodemailer` to latest version
  bun.lock
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore(server): upgrade `nodemailer` to latest version (#7)
  bun.lock
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

Notes added by 'git notes add'
  97dde9f071a933764b78c9c4745e22573c41636f
Due: none

ci: add workflow to self-assign PR's
  .github/workflows/pr-author-assign.yml
Due: none
